/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;
 */

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 50px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: #246a35;
}

a:visited {
  /* Visited Link*/
  color: #246a35;
}

a:hover,
a:focus {
  /* No underlining when hovering over a link*/
  text-decoration: none;
  color: #246a35;
}

a:active {
  /* Selected link*/
  color: #246a35;
}

button {
  border: none;
  font-family: inherit;
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.button {
  border: none;
  font-family: inherit;
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button:hover {
  border: none;
  font-family: inherit;
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  opacity: 0.7;
}

button:focus {
  border: none;
  font-family: inherit;
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  opacity: 0.7;
}

.button:hover {
  border: none;
  font-family: inherit;
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  opacity: 0.7;
}

.button:focus {
  border: none;
  font-family: inherit;
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  opacity: 0.7;
}

.navigation-list__item--active {
  text-decoration: none;
  color: #246a35;
}

.about__body {
  margin: 0 auto;
  text-align: center;
}

.about__table {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  border: 1px solid white;
  border-radius: 30px;
}

.contact__body {
  margin: 0 auto;
  text-align: center;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 30px;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}

.profile {
  max-width: 100vw;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__portrait {
  width: 350px;
  border-radius: 50%;
}

.sub-header {
  color: rgb(80, 80, 80);
  font-size: 20px;
}

.lower {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #246a35;
  color: rgb(245, 245, 245);
  font-size: 20px;
  border-radius: 30px;
}

.my-work {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  max-width: 70%;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #246a35;
  margin: 10px;
  padding: 10px;
  min-width: 300px;
  height: 200px;
  flex-grow: 1;
  color: white;
  font-size: 20px;
  border-radius: 30px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 550px;
  border: 2px solid #246a35;
  padding: 10px;
  border-radius: 30px;
}

.work-page-title {
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/*This section combined with the @keyframes color-change section below, animate the sun
in the "about me" page.
breakdown of different "animation" properties:
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
*/
.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
  animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
  animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

/*This section is the fallback for the CSS grid in older versions of browsers. This must ALWAYS come before the CSS Grid section*/
.grid__item {
  display: inline-block;
  width: 33%;
}

/*This whole section will display the CSS Grid updates properly in updated browsers*/
@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }

  .grid__item {
    background-color: lightgray;
    width: auto;
    min-height: auto;
    margin: 15px;
    padding: 15px;
    padding-top: 5px;
    border-radius: 20px;
  }
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
