/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;
 */

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

a{
  color: #357b70;
}

a:visited {
  /* Visited Link*/
  color: #05676e;
}

a:hover, a:focus{
  /* No underlining when hovering over a link*/
  text-decoration: none;
}

a:active {
  /* Selected link*/
  color: #489c79;
}

button {
  /*Overwrites browser defaults and resets the border*/
  border: none;
  /*Takes the font from the outer container*/
  font-family: inherit;
  /*Styles the background color, font color, and text decoration (underline, etc.) of the button*/
  background-color: #357b70;
  color: white;
  text-decoration: none;
  /*Adds spacing to the button*/
  padding: 10px;
  border-radius: 20px;
  /*Gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format*/
  border-bottom: 2px solid rgba(0, 0, 0, .3);
  -webkit-transition: .2s opacity;
  -o-transition: .2s opacity;
  transition: .2s opacity;
}

.button {
  /*Overwrites browser defaults and resets the border*/
  border: none;
  /*Takes the font from the outer container*/
  font-family: inherit;
  /*Styles the background color, font color, and text decoration (underline, etc.) of the button*/
  background-color: #357b70;
  color: white;
  text-decoration: none;
  /*Adds spacing to the button*/
  padding: 10px;
  border-radius: 20px;
  /*Gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format*/
  border-bottom: 2px solid rgba(0, 0, 0, .3);
  -webkit-transition: .2s opacity;
  -o-transition: .2s opacity;
  transition: .2s opacity;
}

button:hover {
  /*Overwrites browser defaults and resets the border*/
  border: none;
  /*Takes the font from the outer container*/
  font-family: inherit;
  /*Styles the background color, font color, and text decoration (underline, etc.) of the button*/
  background-color: #357b70;
  color: white;
  text-decoration: none;
  /*Adds spacing to the button*/
  padding: 10px;
  border-radius: 20px;
  /*Gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format*/
  border-bottom: 2px solid rgba(0, 0, 0, .3);
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 70% */
  opacity: 0.7;
}

button:focus {
  /*Overwrites browser defaults and resets the border*/
  border: none;
  /*Takes the font from the outer container*/
  font-family: inherit;
  /*Styles the background color, font color, and text decoration (underline, etc.) of the button*/
  background-color: #357b70;
  color: white;
  text-decoration: none;
  /*Adds spacing to the button*/
  padding: 10px;
  border-radius: 20px;
  /*Gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format*/
  border-bottom: 2px solid rgba(0, 0, 0, .3);
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 70% */
  opacity: 0.7;
}

.button:hover {
  /*Overwrites browser defaults and resets the border*/
  border: none;
  /*Takes the font from the outer container*/
  font-family: inherit;
  /*Styles the background color, font color, and text decoration (underline, etc.) of the button*/
  background-color: #357b70;
  color: white;
  text-decoration: none;
  /*Adds spacing to the button*/
  padding: 10px;
  border-radius: 20px;
  /*Gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format*/
  border-bottom: 2px solid rgba(0, 0, 0, .3);
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 70% */
  opacity: 0.7;
}

.button:focus {
  /*Overwrites browser defaults and resets the border*/
  border: none;
  /*Takes the font from the outer container*/
  font-family: inherit;
  /*Styles the background color, font color, and text decoration (underline, etc.) of the button*/
  background-color: #357b70;
  color: white;
  text-decoration: none;
  /*Adds spacing to the button*/
  padding: 10px;
  border-radius: 20px;
  /*Gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format*/
  border-bottom: 2px solid rgba(0, 0, 0, .3);
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 70% */
  opacity: 0.7;
}

/*This changes the "button_secondary" class on the page. (You MUST prefix it with a ".")*/
.button_secondary {
  background-color: #e0b354;
  color: #2b2b2b;
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.about__body {
  margin: 0 auto;
  text-align: center;
}

.about__table {
  margin: 0 auto;
  text-align: center;
}

.contact__body {
  margin: 0 auto;
  text-align: center;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.work-page-title {
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.social-media {
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/*This section combined with the @keyframes color-change section below, animate the sun
in the "about me" page.
breakdown of different "animation" properties:
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
*/
.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
          animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
          animation: 34s cloud-move-reverse infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

/*This section is the fallback for the CSS grid in older versions of browsers. This must ALWAYS come before the CSS Grid section*/
.grid__item {
  display: inline-block;
  width: 33%;
}

/*This whole section will display the CSS Grid updates properly in updated browsers*/
@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }

  .grid__item {
    background-color: lightgray;
    width: auto;
    min-height: auto;
    margin: 15px;
    padding: 15px;
    padding-top: 5px;
    border-radius: 20px;
  }
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
